<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}}} -->

<main>
	<div class="portada">
	</div>
	<div class="card-product-container">
		<div class="card-product a-product"></div>
		<div class="card-product b-product"></div>
		<div class="card-product c-product"></div>
	</div>
	<div class="content">


		<div class="about">

			<section>
				<h3>Sobre Nosotros</h3>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus quos necessitatibus assumenda, ea
				laudantium pariatur! A maxime incidunt, animi ratione dolorum illo quas reiciendis obcaecati quis
				tempora
				fugit sapiente deserunt.
			</section>
			<div class="img-about"></div>
		</div>
		<div class="products-container-main">
			<h3>¡Nuestros mejores productos</h3>
			<div class="products-container">
				[products]
			</div>
		</div>
	</div>
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

<style>
	main {
		width: 100vw;
		max-width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.content {
		width: 80%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 50px;
		margin-top: 50px;

	}

	.portada {
		width: 100%;
		height: 550px;
		background-color: lightblue;
	}

	.card-product-container {
		width: 100vw;
		max-width: 100%;
		height: 200px;
		display: flex;

	}

	.card-product {
		width: 33.33%;
		height: 100%;
	}

	.a-product {
		background-color: rgb(127, 79, 175);
	}

	.b-product {
		background-color: rgb(223, 135, 236);
	}

	.c-product {
		background: lightgreen;
	}

	.about {
		display: flex;
		gap: 10px
	}

	.img-about {
		width: 80%;
		height: 500px;
		background-color: aquamarine;
	}


	.products-container-main {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.products-container {}

	* {
		font-family: sans-serif;
	}
</style>