<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","style":{"spacing":{"margin":{"top":"var:preset|spacing|50"}}}} -->

<div class="main-home">
	<div class="portada">
	</div>
	<div class="card-product-container">
		<div class="card-product a-product"></div>
		<div class="card-product b-product"></div>
		<div class="card-product c-product"></div>
	</div>
	<div class="content">


		<div class="about">

			<section>
				<h3>Sobre Nosotros</h3>
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus quos necessitatibus assumenda, ea
				laudantium pariatur! A maxime incidunt, animi ratione dolorum illo quas reiciendis obcaecati quis
				tempora
				fugit sapiente deserunt.
			</section>
			<div class="img-about"></div>
		</div>
		<div class="products-container-main">
			<h3>¡Nuestros mejores productos</h3>
			<div class="products-container">
				[products]
			</div>
		</div>
	</div>
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->

